* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

:root {
  --mid-black: #0c0c0c;
  --white: #d8d8d8;
}

a{
  text-decoration: none;
  color: var(--white);
}

.container {
  padding: 0 40px;
}

.pointer {
  cursor: pointer;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 35px;
  background-color: var(--mid-black);
  color: var(--white);
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 10px;
}

.product-list-container {
  width: 100%;
  padding: 0 40px;
}

.product-card {
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin-bottom: 20px;
  padding: 20px 30px;
  color: var(--white);
  background-color: var(--mid-black);
}

.product-card__title {
  font-size: large;
}

.product-card__btn {
  padding: 12px 28px;
  border: 0;
  border-radius: 4px;
  color: var(--white);
  font-size: medium;
  cursor: pointer;
}

.product-card__quantity-btn {
  display: flex;
  justify-content: space-between;
  width: 100px;
  max-height: 50px;
}

.product_card__delta-btns{
  border:none;
  border-radius: 4px;
}

.sidebar {
  padding: 10px 55px 10px 40px;
  background-color: var(--mid-black);
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  width: 25%;
  min-width: 250px;
  position: sticky;
  top: 0;
}

.filter-title {
  border-bottom: 1px solid;
  padding-bottom: 10px;
}

.category-link {
  cursor: pointer;
  color: var(--white)
}

.shopping-cart__container {
  width: 90%;
  margin: auto;
  padding: 20px 30px;
  margin-top: 15px;
  border-radius: 6px;
  background-color: var(--mid-black);
}

.shopping-card__grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.cart-item {
  align-items: center;
  margin-bottom: 20px;
  font-size: 20px;
}

