* {
  box-sizing: border-box;
}

html, body {
  margin:0;
}

:root {
  --mid-black : #0c0c0c;
  --white : #d8d8d8;
}

.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 35px;
  background-color: var(--mid-black);
  color: var(--white);
}

.container{
  padding:0 40px;
}

.sidebar{
  padding:10px;
  background-color: var(--mid-black);
}

.category-link{
  cursor: pointer;
  color: var(--white)
}